<div class="container">
<div class="row">

	<div class="starter-template">
		<h1>Table List</h1>
		<p class="lead">Intelligent Customer Queing</p>
		<a href="#/register" class="btn btn-primary btn-lg">Get started now!</a>
	</div>
</div>
<div class="row">
		<div class="col-md-4">
			<h2>Ditch the clipboard</h2>
			<p>Use the app to manage your waiting list from your PC, tablet, or phone.</p>
		</div>
		<div class="col-md-4">
			<h2>Get your voice back</h2>
			<p>No need to yell every 5 minutes. You can text a party with just a tap.</p>
		</div>
		<div class="col-md-4">
			<h2>Customers will love you</h2>
			<p>No need for additional devices to alert customers. Just send a text when their table is ready.</p>
		</div>
	</div>
  <div id="pricing" class="row"></div>
  <div class="row text-center prices">

    <div class="row db-padding-btm db-attached">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="db-wrapper">
          <div class="db-pricing-eleven db-bk-color-one">
            <div class="price">
              <sup>$</sup>49<small>/month</small>
            </div>
            <div class="type-small">
              SMALL PLAN
            </div>
            <ul>

              <li><i class="glyphicon glyphicon-user"></i>Up to 30 customer capacity</li>
              <li><i class="glyphicon glyphicon-signal"></i><strike>Analytics</strike> </li>
              <li><i class="glyphicon glyphicon-time"></i><strike>Customer History</strike></li>
            </ul>
            <div class="pricing-footer">

              <a href="#/register?plan='small'" class="btn db-button-color-square btn-lg">Sign Up</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="db-wrapper">
          <div class="db-pricing-eleven db-bk-color-two popular">
            <div class="price">
              <sup>$</sup>99
              <small>/month</small>
            </div>
            <div class="type-medium">
              MEDIUM PLAN
            </div>
            <ul>

              <li><i class="glyphicon glyphicon-user"></i>30-50 customer capacity</li>
              <li><i class="glyphicon glyphicon-signal"></i>Analytics</li>
              <li><i class="glyphicon glyphicon-time"></i><strike>Customer History</strike></li>
            </ul>
            <div class="pricing-footer">

              <a href="#/register?plan='medium'" class="btn db-button-color-square btn-lg">Sign Up</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="db-wrapper">
          <div class="db-pricing-eleven db-bk-color-three">
            <div class="price">
              <sup>$</sup>149
              <small>/month</small>
            </div>
            <div class="type-large">
              LARGE PLAN
            </div>
            <ul>

              <li><i class="glyphicon glyphicon-user"></i>50 + customer capacity</li>
              <li><i class="glyphicon glyphicon-signal"></i>Analytics </li>
              <li><i class="glyphicon glyphicon-time"></i>Customer History</li>
            </ul>
            <div class="pricing-footer">

              <a href="#/register?plan='large'" class="btn db-button-color-square btn-lg">Sign Up</a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
